# Python
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Configuration
.env
config.yaml

# Données
data/raw/
data/tmp/
*.csv
*.xlsx
*.json
*.zip

# Logs
logs/
*.log

# Visualisations
*.png
*.jpg
*.jpeg
*.svg
*.pdf

# IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Streamlit
.streamlit/
.cache/

# Build
build/
dist/
*.egg-info/

# Drivers
data/edgedriver_win32/
*.exe

# Exports
exports/